
.sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw; 
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px 0; 
  display: flex;
  flex-direction: column;
  overflow-y: hidden; 
  box-sizing: border-box; 
  z-index: 1000; 
  border-right: 1px solid #ddd;
}


.sidebar-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  gap: 10px;
  color: #4d007d; 
  font-weight: bold;
  font-size: 22px;
}

.sidebar-logo-icon {
  color: #4d007d; 
}


.sidebar-search-wrapper {
  position: relative;
  padding: 0 20px; 
  margin-bottom: 15px;
}

.sidebar-search-input {
  width: calc(100% - 50px); 
  padding: 10px 10px 10px 40px;
  border: 1px solid #838383;
  border-radius: 20px; 
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
}

.sidebar-search-input:focus {
  border-color: #4d007d;
}

.sidebar-search-icon {
  position: absolute;
  left: 30px; 
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}


.sidebar-navigation {
  flex-grow: 1;
}

.sidebar-category-group {
  margin-bottom: 25px;
}

.sidebar-category-label {
  font-size: 14px;
  color: #888;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  padding: 0 20px; 
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu-item {
  margin-bottom: 5px;
}


.sidebar-menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px; 
  text-decoration: none;
  color: #333;
  font-size: 15px; 
  transition: padding 0.3s ease, color 0.3s ease;
}

.sidebar-menu-item:hover .sidebar-menu-link {
  color: #4d007d;
}

.sidebar-menu-item:hover .sidebar-menu-icon {
  color: #4d007d;
}

.sidebar-menu-link-active {
  position: relative;
  color: #4d007d;
  font-weight: 600;
 padding: 10px 20px 10px 35px;
}
.sidebar-menu-link-active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  bottom: 3px;
  width: 7px;
  background-color: #4d007d;
  border-radius: 0 50px 50px 0; 
}

.sidebar-menu-link-active .sidebar-menu-icon {
  color: #4d007d; 
}

.sidebar-menu-icon {
  color: #333; 
  transition: color 0.3s ease;
}


@media (max-width: 1024px) {
  .sidebar-container {
    width: 25vw; 
  }
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100%; 
    height: auto;
    position: relative; 
    box-shadow: none;
    padding-bottom: 20px;
  }

  .sidebar-header,
  .sidebar-search-wrapper,
  .sidebar-category-label,
  .sidebar-menu-link {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar-search-icon {
    left: 25px;
  }
}

@media (max-width: 480px) {
  .sidebar-header {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .sidebar-search-input {
    font-size: 13px;
  }

  .sidebar-menu-link {
    font-size: 14px;
    padding: 8px 15px;
  }
}
